<template name="chat">
    <div class="screen">    
        <div class="navigation-bar fixed-top">
            <div class="navigation-bar__left">
                <span class="toolbar-button--outline navigation-bar__line-height">
                    <a href="goback"><i class="ion-chevron-left" style="font-size:32px; vertical-align:-6px;"></i></a>
                </span>
            </div>

            <div class="navigation-bar__center">
                Иван Иванов
            </div>

            <div class="navigation-bar__right">
                <span class="toolbar-button--outline navigation-bar__line-height">
                    <a href="#avatar"><img src="/avatars/av1.jpg" /></a>
                </span>
            </div>

        </div>

        <div class="screen-content">   

            <div class="twit is_author">
                <div class="twit_text">Ля ля ля Ля ля ля Ля ля ля Ля ля ля Ля ля ля Ля ля ля Ля ля ля Ля ля ля Ля ля ля Ля ля ля Ля ля ля </div>
                <div class="twit_apply">A</div>
            </div>
            
            
        <div class="twit_answer is_author">
                <div class="twit_avatar">
                    <div class="avatar_image"><img src="/avatars/av1.jpg" /></div>
                    <div class="informer"><img src="/images/inradius.png" /></div>
                </div>
                <div class="twit_text">Ля ля ля Ля ля ля Ля ля ля Ля ля ля Ля ля ля Ля ля ля Ля ля ля Ля ля ля Ля ля ля Ля ля ля Ля ля ля </div>
                <div class="twit_apply">D</div>
            </div>


        </div>


        <div class="tab-bar fixed-bottom">
            <label class="tab-bar__item">
                <input type="radio" name="tab-bar-c" checked="checked">
                <button class="tab-bar__button">
                    <div class="tab-bar__label bottom_left_favorites"><i class="ion-android-favorite fav" style="font-size:25px;"></i><i class="ion-android-favorite" style="font-size:25px;"></i></div>
                </button>
            </label>

            <label class="tab-bar__item">
                <input type="radio" name="tab-bar-c">
                <button class="tab-bar__button">
                    <div class="tab-bar__label bottom_middle_dialogs"><i class="ion-android-chat" style="font-size:28px;"></i></div>
                </button>
            </label>

            <label class="tab-bar__item">
                <input type="radio" name="tab-bar-c">
                <button class="tab-bar__button">
                    <div class="tab-bar__label bottom_right_status"><div class="button status_invisible"><i class="ion-eye" style="font-size:12px;"></i> Невидимый</div></div>
                </button>
            </label>
        </div>
    </div>
</template>