<template name="chat">
    <div class="screen chat">    
        <div class="navigation-bar fixed-top">
            <div class="navigation-bar__left">
                <span class="navigation-bar__line-height">
                    {{> avatar user_id=user_id}}
                </span>
            </div>
            <div class="navigation-bar__center">{{profile.first_name}} {{profile.last_name}}</div>
            <div class="navigation-bar__right avatar_bar">
                <i class="ion-email ion-email-style js-open-dialog" style="font-size:35px;"></i>
            </div>
        </div>

        <div class="screen-content" id="chat_screen">   
            
            <div class="userblock">
                <div class="chat_row user not_author">
                    <div class="rowfirst">
                        <div class="avatar_image">
                            <i class="ion-wifi {{active_class}}" style="font-size:35px;"></i>
                            <i class="ion-connection-bars {{inradius}}" style="font-size:35px;"></i>
                        </div>
                    </div>
                    <div class="rowsecond">{{status.text}}<br> <div class="twit_date">{{status.date}}</div></div>
                    <div class="rowthird js-toggle-favorite">
                        <div class="control_block"><i class="ion-heart favorit" style="font-size: 30px;"></i></div>
                        <div class="control_block"><i class="ion-close-round delete_twit" style="font-size:20px;"></i></div>
                    </div>
                </div>
            </div>

            {{#each comments}} {{> chat_comment}} {{/each}}
        </div>
        <div class="tab-bar fixed-bottom bottom_bar comment_form">
            <form>
                <input name="comment" autofocus="autofocus" value="" placeholder="Введите комментарий">
            </form>
        </div>
    </div>
</template>

<template name="chat_comment">
<div class="twit_answer {{author_class}}">
    <div class="twit_avatar">
        {{> avatar user_id=author}}
        <div class="informer"><img src="/images/{{distance_image}}.png" /></div>
    </div>
    <div class="twit_person"><span class="named">{{first_name}} {{last_name}}</span></div>
    <div class="twit_text">{{text}}<div class="twit_date">{{date}}</div></div>
    <div class="twit_apply">
        <i class="ion-close-round comment_delete" style="font-size:20px;"></i>
    </div>
</div>
</template> 
