<template name="dialogs">
    <div class="screen-content">   
        <div class="twit_answer">
            <div class="twit_avatar">
                <div class="avatar_image"><img src="/avatars/av1.jpg" /></div>
                <div class="informer"><img src="/images/inradius.png" /></div>
            </div>
            <div class="twit_person">Степан Васильев</div>
            <div class="twit_text">И чо делать? А вдруг он нас покусает? <div class="twit_date">сегодня в 13.15</div></div>
        </div>

        <div class="twit_answer">
            <div class="twit_avatar">
                <div class="avatar_image"><img src="/avatars/av1.jpg" /></div>
                <div class="informer"><img src="/images/inradius.png" /></div>
            </div>
            <div class="twit_person">Степан Васильев</div>
            <div class="twit_text">И чо делать? А вдруг он нас покусает? <div class="twit_date">сегодня в 13.15</div></div>
        </div>
    </div>
</template>
