<template name="dialog">
    <div class="screen chat dialog_screen">    
        <div class="navigation-bar fixed-top">
            <div class="navigation-bar__left">
                <span class="navigation-bar__line-height">
                    <a href="/user/"><img src="/avatars/av2.jpg" /></a>
                </span>
            </div>

            <div class="navigation-bar__center">Личная переписка</div>

            <div class="navigation-bar__right">
                <span class="navigation-bar__line-height">
                    <a href="{{pathFor 'user'}}"><img src="/avatars/av3.jpg" /></a>
                </span>
            </div>

        </div>

        
        
        <div class="screen-content dialog_list" id="dialog_screen_id">   
            
        {{#each messages}}
              {{> message}}
            {{/each}}
   
        </div>


        <div class="tab-bar fixed-bottom bottom_bar comment_form">
            <form class="js-new-message">
                <input autofocus="autofocus" type="text" placeholder="Написать...">
            </form> 
        </div>
    </div>
</template>



<template name="message2">
  <div>
    {{author.username}}: {{text}}
  </div>
</template>

<template name="message">
         
    <div class="dialog_box {{author_class}}">
        <div><span class="namee">{{first_name}} {{last_name}}</span>&nbsp;&nbsp;<span class="dialog_date">{{date}}</span></div>
        <div>{{text}}</div>
    </div>

    
</template>
