<template name="dialogs">
    <div class="screen-content dialogs_screen" id="dialogs">   
        {{#each dialogs}} {{> dialogs_dialog}} {{/each}}        
    </div>
</template>

<template name="dialogs_title">Диалоги</template>

<template name="dialogs_dialog">
<div class="dialogs_row">
    <div class="rowfirst">
        {{> avatar user_id=corr_id}}
        <div class="informer"><img src="/images/{{distance_image}}.png" /></div>
    </div>
    <div class="rowsecond js-open-dialog">
        <div class="dnamedate">
            <div class="dname">{{first_name}} {{last_name}}</div>
            <div class="ddate">{{date}}</div>
        </div>
        <div class="dtext"><span class="unread">{{text}}</span></div>
    </div>
</div>
</template>
