<template name="dialog">
    <div class="screen chat dialog_screen">    
        <div class="navigation-bar fixed-top">
            <div class="navigation-bar__left">
                <span class="navigation-bar__line-height">
                    {{> avatar user_id=user_id}}
                </span>
            </div>

            <div class="navigation-bar__center">Личная переписка</div>

            <div class="navigation-bar__right">
                <span class="navigation-bar__line-height">
                   
                    <div class="avatar_header_img">{{> avatar user_id=corr_id}}</div>
                    <div class="informer_header"><img src="/images/near.png" /></div>

                </span>
            </div>

        </div>

 
        
        
        <div class="screen-content dialog_list" id="dialog_screen_id">   
            
        {{#each messages}}
            {{> message}}
        {{/each}}
   
        </div>


        <div class="tab-bar fixed-bottom bottom_bar comment_form">
            <form class="js-new-message">
                <input name="message" autofocus="autofocus" type="text" placeholder="Написать...">
            </form> 
        </div>
    </div>
</template>



<template name="message">
    
    
    <div class="dialog_box {{author_class}}">
        <div class='dialog_author'><span class="namee">{{first_name}} {{last_name}}</span>&nbsp;&nbsp;<span class="dialog_date">{{date}}</span></div>
        <div class='dialog_text'>{{text}}</div>
    </div>
    <div style="clear:both"></div>
    
</template>
