<template name="favorites">
    <div class="screen-content">
       {{#each users}} {{> favorit_user}} {{/each}}
    </div>
</template>

<template name="favorites_title">Избранное</template>

<template name="favorit_user">
    <div class="chat_row">
        <div class="avapic">
            {{> avatar user_id=user_id}}
            <div class="informer"><img src="/images/{{distance_image}}.png" /></div>
        </div>
        <div class="chat_text js-open-chat-2"><span class="named">{{first_name}} {{last_name}}</span><br />{{status.text}}</div>
        <div class="chat_bottoms js-toggle-favorite"><span class=""><i class="ion-heart {{favorite_class}}" style="font-size: 30px;"></i> </span></div>
    </div>
</template>
