<template name="layout_main">
    <div class="screen {{global_status}} {{gps_status}} {{network_status}}">
        <div class="navigation-bar fixed-top">
            <div class="navigation-bar__left">
                <span class="navigation-bar__line-height">
                    {{> avatar user_id=user_id}}
                </span>
            </div>

            <div class="navigation-bar__center">{{> yield region="title"}}</div>
            <div class="navigation-bar__right header">

                <div class="tab-bar__label bottom_right_status">

                    <button class="toolbar-button navigation-bar__line-height status_switcher js-change-private">
                            <i class="ion-eye" style="font-size:32px;"></i>
                        </button>
                    
                </div>
            </div>
        </div>

        {{> yield}}

        <div class="tab-bar fixed-bottom bottom_bar">
            <label class="tab-bar__item">
               <button class="tab-bar__button js-open-main">
                        <div class="tab-bar__label bottom_left_favorites"><div class="bottom_efir"><img src="/images/efir.png" width="25" /></div></div>
                    </button>
            </label>
           <label class="tab-bar__item">
                <button class="tab-bar__button js-open-favorites">
                        <div class="tab-bar__label bottom_left_favorites"><div class="bottom_hearts"><img src="/images/hearts.png" width="40" /></div></div>
                    </button>
            </label>

           <label class="tab-bar__item">
               <button class="tab-bar__button js-open-dialogs">
                        <div class="tab-bar__label bottom_left_favorites"><div class="bottom_mails"><img src="/images/mails.png" width="40" /></div></div>
                    </button>
            </label>
            
            <label class="tab-bar__item">
               <button class="tab-bar__button js-open-profile">
                        <div class="tab-bar__label bottom_left_favorites"><div class="bottom_config"><i class="ion-gear-a" style="font-size:32px;"></i></div></div>
                    </button>
            </label>
            
            
        </div>
    </div>

</template>

