<template name="menu">
  <div class="content-scrollable">

    {{#if currentUser}}

      <div>
          {{lat}}
          {{lng}}
      </div>

      <div><a href="{{pathFor 'main'}}" class="btn-secondary">Назад</a></div>

      <div>{{username}} {{profile.first_name}} {{profile.second_name}} {{profile.last_name}}</div>
      <div><a href="{{pathFor 'profile'}}" class="btn-secondary">Редактировать профиль</a></div>
      <div><a href="{{pathFor 'sign_out'}}" class="btn-secondary">Выйти</a></div>

    {{/if}}

  </div>
</template>

