<template name="people_list">
    
<div class="navigation-bar">
  <div class="navigation-bar__left">
    <span class="toolbar-button--outline navigation-bar__line-height">
        <a href="goback"><i class="ion-chevron-left" style="font-size:32px; vertical-align:-6px;"></i></a>
    </span>
  </div>

  <div class="navigation-bar__center">
    Эфир (радиус 1км)
  </div>


</div>

    
<!--<ul class="list">
  <li class="list__item list-list">
      <div class="list-item-left">o</div>
    Вася
    <div class="list-item-right">x</div>
  </li>
  <li class="list__item">
    Петя
    <div class="list-item-right">x</div>
    <div class="list-item-right">o</div>
  </li>
</ul>-->
<div class="people-list">
    <div class="table">
        <ul class="table-row">
            <li class="table-cell avatar"><img src="avatars/av1.jpg" /></li>
            <li class="table-cell person">
                <div class="name">Вася Пупкин</div>
                <div class="status">Хочу чтобы всем было тепло и хорошо и чтобы всех было все что хотят</div>
            </li>
            <!--<li class="table-cell message"><i class="ion-email-unread" style="font-size:30px;"></i></li>-->
            <li class="table-cell favorites"><i class="ion-star" style="font-size:45px;"></i></li>
        </ul>
    </div>
</div>

<div class="people-list">
    <div class="table">
        <ul class="table-row">
            <li class="table-cell avatar"><img src="avatars/av1.jpg" /></li>
            <li class="table-cell person">
                <div class="name">Леша Гришин</div>
                <div class="status">Три проходки в кино, яблоки, помидоры, малина и клубника</div>
            </li>
            <!--<li class="table-cell message"><i class="ion-email-unread" style="font-size:30px;"></i></li>-->
            <li class="table-cell favorites"><i class="ion-star" style="font-size:45px;"></i></li>
        </ul>
    </div>
</div>



<!--<div class="person">
    <div class="avatar">avatar</div>
    <div class="name">name</div>
    <div class="status">status</div>
    <div class="favorites">favorites</div>
    
</div>-->

    
<div class="tab-bar">
  <label class="tab-bar__item">
    <input type="radio" name="tab-bar-c" checked="checked">
    <button class="tab-bar__button">
      <div class="tab-bar__label">One</div>
    </button>
  </label>

  <label class="tab-bar__item">
    <input type="radio" name="tab-bar-c">
    <button class="tab-bar__button">
      <div class="tab-bar__label">Two</div>
    </button>
  </label>

  <label class="tab-bar__item">
    <input type="radio" name="tab-bar-c">
    <button class="tab-bar__button">
      <div class="tab-bar__label">Three</div>
    </button>
  </label>
</div>
    
</template>