<template name="sign_in">
<div class="navigation-bar">
    <div class="navigation-bar__center">Вход</div>
</div>

<form>
    {{#if errors}}
        <div>
            {{#each errors}}
                <div>{{this}}</div>
            {{/each}}
        </div>
    {{/if}}
    <ul class="list">
        <li class="list__item">
        <input type="text" class="text-input text-input--transparent" name="phone_num" style="width:100%; margin-top:4px;" placeholder="Номер телефона">
        </li>
        <li class="list__item">
        <input type="password" class="text-input text-input--transparent" name="password" style="width:100%; margin-top:4px;" placeholder="Пароль">
        </li>

        <button class="button button--large" type="submit">Войти</button>

        <div class="button--large--quiet"><a href="{{pathFor 'sign_up'}}">Регистрация</a></div>
    </ul>
</form>
</template>
