<template name="sign_up">
  <div class="page auth">
    <div class="content-scrollable">
      <div class="wrapper-auth">
        <form>
          <div class="input-no-symbol"><input type="text" name="username"    placeholder="Логин"   /></div>
          <div class="input-no-symbol"><input type="text" name="first_name"  placeholder="Имя"     /></div>
          <div class="input-no-symbol"><input type="text" name="middle_name" placeholder="Отчество"/></div>
          <div class="input-no-symbol"><input type="text" name="last_name"   placeholder="Фамилия" /></div>
          <div class="input-no-symbol"><input type="text" name="username"    placeholder="Логин"   /></div>
          <div class="input-no-symbol"><input type="text" name="username"    placeholder="Логин"   /></div>
    
          <div class="input-no-symbol"><input type="password" name="password"       placeholder="Пароль"        /></div>
          <div class="input-no-symbol"><input type="password" name="password_again" placeholder="Пароль ещё раз"/></div>
   
          <button type="submit" class="btn-primary">Зарегистрироваться</button>
        </form>
   
        <div><a href="{{pathFor 'sign_in'}}" class="link-auth-alt">Уже зарегистрировались?<br>Войдите</a></div>
    
      </div>
    </div>
  </div>
</template>
