<template name="sign_in2">
  <div class="page auth">
    <div class="content-scrollable">
      <div class="wrapper-auth">
        <form>
          <div class="input-no-symbol">
            <input type="text" name="username" placeholder="Логин"/>
          </div>
    
          <div class="input-no-symbol">
            <input type="password" name="password" placeholder="Пароль"/>
          </div>
    
          <button type="submit" class="btn-primary">Войти</button>
        </form>
  
        <div><a href="{{pathFor 'sign_up'}}" class="link-auth-alt">Ещё не регистрировались?<br>Зарегистрируйтесь</a></div>
    
      </div>
    </div>
  </div>
</template>


<template name="sign_in">
    <div style="text-align: center">Киберфон</div>
<ul class="list">
  <li class="list__item">
    <input type="text" class="text-input text-input--transparent" name="username" style="width:100%; margin-top:4px;" placeholder="Логин">
  </li>
  <li class="list__item">
    <input type="text" class="text-input text-input--transparent" name="password" style="width:100%; margin-top:4px;" placeholder="Пароль">
  </li>
 
  
  <button class="button button--large" type="submit">Войти</button>
  
  <div class="button--large--quiet"><a href="{{pathFor 'sign_up'}}" class="link-auth-alt">Регистрация</a></div>
 

  
  
</ul>
    
</template>