<template name="sign_up">

<div class="navigation-bar">
    <div class="navigation-bar__left">
        <span class="toolbar-button--outline navigation-bar__line-height">
            <a href="{{pathFor 'sign_in'}}"><i class="ion-chevron-left" style="font-size:32px; vertical-align:-6px;"></i></a>
        </span>
    </div>

    <div class="navigation-bar__center">Регистрация</div>
</div>


<form>
    {{#if errors}}
        <div>
            {{#each errors}}
                <div>{{this}}</div>
            {{/each}}
        </div>
    {{/if}}
    <ul class="list">
        <li class="list__item">
        <input type="text" class="text-input text-input--transparent" name="first_name" style="width:100%; margin-top:4px;" placeholder="Имя">
        </li>
        <li class="list__item">
        <input type="text" class="text-input text-input--transparent" name="last_name" style="width:100%; margin-top:4px;" placeholder="Фамилия">
        </li>
        <li class="list__item">
        <input type="text" class="text-input text-input--transparent" name="phone_num" style="width:100%; margin-top:4px;" placeholder="Номер телефона">
        </li>
        <li class="list__item">
        <input type="pwassword" class="text-input text-input--transparent" name="password" style="width:100%; margin-top:4px;" placeholder="Пароль">
        </li>
        <li class="list__item">
        <input type="password" class="text-input text-input--transparent" name="password_again" style="width:100%; margin-top:4px;" placeholder="Повторите пароль">
        </li>

        <button class="button button--large" type="submit">Регистрация</button>

        <div class="button--large--quiet"><a href="{{pathFor 'sign_in'}}">Уже есть учетная запись</a></div>
    </ul>
</form>
</template>
