<template name="user">
    <div class="screen user">    
        <div class="navigation-bar fixed-top">
            <div class="navigation-bar__left">
                <span class="navigation-bar__line-height">
                    {{> avatar user_id=user_id}}
                </span>
            </div>
            <div class="navigation-bar__center">Василиса Степанова</div>
            <div class="navigation-bar__right avatar_bar">
                <a href="/dialog/{{profile.id}}"><i class="ion-email ion-email-style" style="font-size:35px;"></i></a>
            </div>
        </div>



        <div class="screen-content">   

            <div class="chat_row user">
                <div class="rowfirst">
                    <div class="avatar_image"><i class="ion-wifi twit_passive" style="font-size:35px;"></i></div>
                </div>
                <div class="rowsecond js-open-chat-2">Тут вот какое дело. Только что от нас убежал леопард. Он побежал куда-то туда, в вашу сторону.<br> <div class="twit_date">вчера в 20.05</div></div>
                <div class="rowthird js-toggle-favorite"><span class=""><i class="ion-heart ion-heart-active" style="font-size: 30px;"></i> </span></div>
            </div>
            
            <div class="chat_row user">
                <div class="rowfirst">
                    <div class="avatar_image"><i class="ion-wifi twit_passive" style="font-size:35px;"></i></div>
                </div>
                <div class="rowsecond js-open-chat-2">Распродажа ботинков<br> <div class="twit_date">вчера в 20.05</div></div>
                <div class="rowthird js-toggle-favorite"><span class=""><i class="ion-heart ion-heart-active" style="font-size: 30px;"></i> </span></div>
            </div>
            
            <div class="chat_row user">
                <div class="rowfirst">
                    <div class="avatar_image"><i class="ion-wifi twit_passive" style="font-size:35px;"></i></div>
                </div>
                <div class="rowsecond js-open-chat-2">Давайте не будем ругаться и топать ногами, бросать сковородки<br> <div class="twit_date">вчера в 20.05</div></div>
                <div class="rowthird js-toggle-favorite"><span class=""><i class="ion-heart ion-heart-active" style="font-size: 30px;"></i> </span></div>
            </div>
            <div class="substatus"><a href="{{pathFor 'new_chat'}}">ДОБАВИТЬ ЧАТ</a></div> 

        </div>
    </div>
</template>
