<template name="user">
    <div class="screen user userblock user_chatlist {{owner}} is_owner not_owner">
        <div class="">
            <div class="navigation-bar fixed-top">
                <div class="navigation-bar__left goback">
                    <span class="navigation-bar__line-height ">
                        <a href="/"><i class="ion-chevron-left " style="font-size:30px; color:white"></i></a>
                    </span>
                </div>
                <div class="navigation-bar__center">{{profile.first_name}} {{profile.last_name}}</div>
                <div class="navigation-bar__right avatar_bar">
                    <!--<i class="ion-email ion-email-style js-open-dialog" style="font-size:35px;"></i>-->
                    <span class="navigation-bar__line-height">
                        {{> avatar user_id=user_id}}
                    </span>
                </div>
            </div>

            <div class="screen-content" id="user_screen">   
                <div class='butcont'><button class="button  sendmail js-open-dialog">Переписка</button></div>
                <div class='butcont'><button class="button  createchat js-create-chat">Создать новый чат</button></div>
                
                {{#each statuses}} {{> user_status}} {{/each}}
                <div class="substatus addchat"><a href="{{pathFor 'new_chat'}}">ДОБАВИТЬ ЧАТ</a></div> 
            </div>
        </div>
    </div>
</template>

<template name="user_status">
    <div class="chat_row user {{author}} {{radius}} {{translation}} is_author offradius is_translation">
        <div class="rowfirst">
            <div class="avatar_image">
                <i class="ion-wifi" style="font-size:35px;"></i>
                <i class="ion-connection-bars" style="font-size:35px;"></i>
            </div>
        </div>
        <div class="rowsecond js-open-chat">
            {{text}}
            <div class="subsecond">22.03.2015&nbsp;&nbsp;|&nbsp;&nbsp;ответов: 4</div>
        </div>
        <div class="rowthird js-toggle-favorite">
           <i class="ion-heart favorit {{favorit}}" style="font-size: 30px;"></i>
           <i class="ion-close-round" style="font-size: 22px;"></i>
         </div>
    </div>
</template>
