body {
    font-family: Helvetica;
}

@font-face {
    font-family: OpenSans; 
    src:
    url("/fonts/OpenSans-BoldItalic.ttf"),
    url("/fonts/OpenSans-Bold.ttf"),
    url("/fonts/OpenSans-ExtraBoldItalic.ttf"),
    url("/fonts/OpenSans-ExtraBold.ttf"),
    url("/fonts/OpenSans-Italic.ttf"),
    url("/fonts/OpenSans-LightItalic.ttf"),
    url("/fonts/OpenSans-Light.ttf"),
    url("/fonts/OpenSans-Regular.ttf"),
    url("/fonts/OpenSans-SemiboldItalic.ttf"),
    url("/fonts/OpenSans-Semibold.ttf");
}


.people-list .table {
    display: table;
    width:100%;
    padding:10px 0 10px 0;
    border-bottom: 1px #ccc solid;
    
}
.people-list .table-row {
    display: table-row;
    
    

}
.people-list .table-cell {
    display: table-cell;
    
}

.avatar {
    width:50px;
    padding:5px;
    vertical-align: top;
    text-align: center;
}

.me {
    width:50px;
    padding:0px 5px;
    vertical-align: top;
    text-align: center;
    font-size: 40px;
}

.person {
    padding:5px 0 0 0;
    vertical-align: top;
}

.person .name {
    
    font-size: 20px;
   color:black;
}

.person .status {
    fon-size:14px;
    color:#888888;
    margin:5px 20px 0 0;
}

.message {
    width:60px;
    vertical-align: middle;
}

.favorites {
    width:60px;
    vertical-align: middle;
}

.screen {
    position:absolute; 
    width:100%; 
    height:100%; 
    overflow:hidden; 
    margin:0; 
    padding:0;
}

.fixed-top {
    position:fixed;
    top:0;
    left:0;
    height: 44px;
    
    width: 100%;
}

.fixed-bottom {
    position:fixed;
    bottom:0;
    left:0;
    width: 100%;
}

.screen-content{
    top:44px; 
    width:100%; 
    height:81%; 
    background:#fff; 
    position: relative; 
    float:left;
    overflow-y:scroll;
}

.status_invisible {
    background: red;
    height: 20px!important;
    padding:5px 10px!important;
    margin:-10px!important;
    color:white;
    line-height: 10px;
    font-size: 12px;
}

.readed {
    /*background: #ccc!important;*/
    /*background-color:#5198db;*/
}

.unreaded {
    /*background-color:#5198db;*/
}

.fav {
    color:#999;
}
.people-list .notification {
    /*background-color: #999;*/
    margin-top:5px;
}

.notify {
    height:15px;
    margin-top:0px;
    font-size: 12px;
    float:left;
}
.mystatus {
    color:black;
}
.status_date {
    float:left;
    margin:6px 0 0 5px;
    font-size: 13px;
    font-family: Helvetica;
}

.bottom_left_favorites  {
    
}

.bottom_middle_dialogs i {
    margin-top: 10px;
}

.bottom_right_status  {
    margin-top: -10px;
}
.block_header {
    height:30px;
    width:100%;
    margin:10px 0 0 0;
    padding:10px 0 0 10px;
    background-color:#cccccc;
}