body {
    font-family:Arial;
    font-weight: 400;
}

/*300,400,600,700,800*/
a {
    text-decoration: none;
}

.bottom_bar a, .bottom_bar:visited {
    color:#8f8f8f;
}
.bottom_bar:active {
    color:#7abfff;
}


/*@font-face {
    font-family: Ubuntu; 
    src:
    url("/fonts/Ubuntu-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Ubuntu; 
    src:
    url("/fonts/Ubuntu-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Ubuntu; 
    src:
    url("/fonts/Ubuntu-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: Ubuntu; 
    src:
    url("/fonts/Ubuntu-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: Ubuntu; 
    src:
    url("/fonts/Ubuntu-Light.ttf");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Ubuntu; 
    src:
    url("/fonts/Ubuntu-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: Ubuntu; 
    src:
    url("/fonts/Ubuntu-Medium.ttf");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Ubuntu; 
    src:
    url("/fonts/Ubuntu-MediumItalic.ttf");
    font-weight: 600;
    font-style: italic;
}


*/









/*@font-face {
    font-family: Roboto; 
    src:
    url("/fonts/Roboto-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Roboto; 
    src:
    url("/fonts/Roboto-Black.ttf");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: Roboto; 
    src:
    url("/fonts/Roboto-BlackItalic.ttf");
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: Roboto; 
    src:
    url("/fonts/Roboto-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Roboto; 
    src:
    url("/fonts/Roboto-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: Roboto; 
    src:
    url("/fonts/Roboto-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: Roboto; 
    src:
    url("/fonts/Roboto-Light.ttf");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Roboto; 
    src:
    url("/fonts/Roboto-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: Roboto; 
    src:
    url("/fonts/Roboto-Medium.ttf");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Roboto; 
    src:
    url("/fonts/Roboto-MediumItalic.ttf");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: Roboto; 
    src:
    url("/fonts/Roboto-Thin.ttf");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: Roboto; 
    src:
    url("/fonts/Roboto-ThinItalic.ttf");
    font-weight: 200;
    font-style: italic;
}*/


/*@font-face {
    font-family: OpenSans; 
    src:
    url("/fonts/OpenSans-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: OpenSans; 
    src:
    url("/fonts/OpenSans-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: OpenSans; 
    src:
    url("/fonts/OpenSans-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: OpenSans; 
    src:
    url("/fonts/OpenSans-ExtraBoldItalic.ttf");
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: OpenSans; 
    src:
    url("/fonts/OpenSans-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: OpenSans; 
    src:
    url("/fonts/OpenSans-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: OpenSans; 
    src:
    url("/fonts/OpenSans-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: OpenSans; 
    src:
    url("/fonts/OpenSans-Light.ttf");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: OpenSans; 
    src:
    url("/fonts/OpenSans-SemiboldItalic.ttf");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: OpenSans; 
    src:
    url("/fonts/OpenSans-Semibold.ttf");
    font-weight: 600;
    font-style: normal;
}
*/




/*

@font-face {
    font-family: OpenSans; 
    src:
    url("/fonts/OpenSans.ttf")
}


@font-face {
    font-family: OpenSans-BoldItalic; 
    src:
    url("/fonts/OpenSans-BoldItalic.ttf")
}
**************
@font-face {
    font-family: OpenSans-Bold; 
    src:
    url("/fonts/OpenSans-Bold.ttf")
}
@font-face {
    font-family: OpenSans-ExtraBoldItalic; 
    src:
    url("/fonts/OpenSans-ExtraBoldItalic.ttf")
}
@font-face {
    font-family: OpenSans-ExtraBold; 
    src:
    url("/fonts/OpenSans-ExtraBold.ttf")
}

@font-face {
    font-family: OpenSans-Italic; 
    src:
    url("/fonts/OpenSans-Italic.ttf")
}
@font-face {
    font-family: OpenSans-LightItalic; 
    src:
    url("/fonts/OpenSans-LightItalic.ttf")
}
@font-face {
    font-family: OpenSans-Light; 
    src:
    url("/fonts/OpenSans-Light.ttf")
}
@font-face {
    font-family: OpenSans-SemiboldItalic; 
    src:
    url("/fonts/OpenSans-SemiboldItalic.ttf")
}
@font-face {
    font-family: OpenSans-Semibold; 
    src:
    url("/fonts/OpenSans-Semibold.ttf")
}

*/



.people-list .table {
    display: table;
    width:100%;
    padding:10px 0 10px 0;
    border-bottom: 1px #ccc solid;
    
}
.people-list .table-row {
    display: table-row;
    
    

}
.people-list .table-cell {
    display: table-cell;
    
}

.plus_icon {
    
}

.avatar {
    width:50px;
    padding:5px;
    vertical-align: top;
    text-align: center;
}

.me {
    width:50px;
    padding:0px 5px;
    vertical-align: top;
    text-align: center;
    font-size: 40px;
}

.person {
    padding:5px 0 0 0;
    vertical-align: top;
}

.person .name {
    
    font-size: 20px;
   color:#888888;
   font-weight: 300;
   color:rgb(0,106,119);
}

.person .status {
    color:#000000;
    margin:5px 20px 0 0;
}

.message {
    width:60px;
    vertical-align: middle;
}

.favorites {
    width:60px;
    vertical-align: middle;
}

.screen {
    position:absolute; 
    width:100%; 
    height:100%; 
    overflow:hidden; 
    margin:0; 
    padding:0;
}

.fixed-top {
    position:fixed;
    top:0;
    left:0;
    height: 44px;
    
    width: 100%;
}

.fixed-bottom {
    position:fixed;
    bottom:0;
    left:0;
    width: 100%;
}

.screen-content{
    top:44px; 
    width:100%; 
    height:81%;
    margin-bottom: 50px;
    background:#fff; 
    position: relative; 
    float:left;
    overflow-y:scroll;
}

.status_invisible {
    background: blue;
    height: 20px!important;
    padding:5px 10px!important;
    margin:-10px!important;
    color:white;
    line-height: 10px;
    font-size: 12px;
}

.status_offline {
    background: red;
    height: 20px!important;
    padding:5px 10px!important;
    margin:-10px!important;
    color:white;
    line-height: 10px;
    font-size: 12px;
}
.status_connecting {
    background: #fde556;
    height: 20px!important;
    padding:5px 10px!important;
    margin:-10px!important;
    color:white;
    line-height: 10px;
    font-size: 12px;
}



.readed {
    /*background: #ccc!important;*/
    /*background-color:#5198db;*/
}

.unreaded {
    /*background-color:#5198db;*/
}

.fav {
    color:#999;
}
.people-list .notification {
    /*background-color: #999;*/
    margin-top:5px;
}

.notify {
    height:15px;
    margin-top:0px;
    font-size: 12px;
    float:left;
}

.mycomments {
    margin:5px 0 0 0;
    font-weight:600;
    color:#999;
    font-size:0.9em;
}
.status_date {
    float:left;
    margin:6px 0 0 5px;
    font-size: 13px;
    font-family: Helvetica;
}
.efir_status {
    width:60px;
    
}
.efir_status i {
    margin-left: 15px;
    
}


.bottom_left_favorites  {
    
}

.bottom_middle_dialogs i {
    margin-top: 10px;
}

.bottom_right_status  {
    margin-top: -10px;
}
.block_header {
    height:30px;

    margin:10px 0 10px 0;
    padding:10px 0 0 10px;
    
}
.block_header_inradius {
    border-bottom: 1px rgb(0,106,119) solid;
    color:#666666;

}

.row_inradius {
    border-right:5px #cbffbc solid;
}

.block_header_offradius {
    border-bottom: 1px rgb(0,106,119) solid;
    color:#666666;
}

.row_offradius {
    border-right:5px #fca3a4 solid;
    
}


.twit {
    padding:10px 5px;
    position: relative;
    border-bottom: 1px #ccc solid;
} 

.twit_answer {
    padding:15px 5px;
    position: relative;
    border-bottom: 1px #ccc solid;
}




.twit_avatar {
    position: absolute;
    width:50px;
    left:0;
}
.twit_avatar img {
    padding:5px;
}

.main_avatar_cont {
    position: relative;
}

.main-screen .informer {
    position: absolute;
    top:10px;
    left:50px;
} 

.informer {
    position: absolute;
    bottom:0px;
    left:5px;
} 

.chat .informer {
    left:0px;
}

.twit .twit_text, .twit .twit_person {
    padding:0 5px 0 5px;
}

.twit_answer .twit_text, .twit_answer .twit_person {
    padding:0 5px 0 55px;
}

.is_author .twit_text, .is_author .twit_person {
    padding-right:60px!important;
}

.twit_person {
    font-size: 16px;
    margin-bottom: 5px;
    color:#999999;
}

.twit_apply {
    position: absolute;
    width:50px;
    right:0;
    top:15px;
    text-align: center;
    
}
.list_avatar {
    position: relative;
}


.list_avatar_image {
position: absolute;
top:0;
left:0;
}
.delete_twit {
    color:#d50101;
}

.twit_active {
    color:#329117;
}
.twit_passive {
    color:#ccc;
}

.list_informer {
    height:10px;
    width:10px;
    position:absolute;
    top:0px;
    left:0px;
}
.twit_date {
    font-size: 12px;
    color:#999999;
    margin:5px 0 0 0;

}

.twit_comments_count {

}

.bottom_right_status .invisible {
    background-color: #dc5236!important;
    margin-right: 10px;
}
.bottom_right_status .invisible i {
    color:#fff;
}

.bottom_right_status .visible {
    background-color: #329117!important;
    margin-right: 10px;
}

.bottom_right_status .visible i {
    color:#fff;
}

.visible {
    color: #329117;
}
.invisible {
    color: blue;
}
.offline {
    color: red;
}
.navigation-bar {
    background: rgb(0,106,119);
    
}

.navigation-bar a {
    color:#ccc;
    
}

.navigation-bar__center {
    color:#fff;
    
}

.context_cont {
    position: relative !important;
    
}

.context_icon {
    display:inline-block;
    position: relative;
    height: 25px;
}

.context_icon i {
    float:left;
}

.context_text {
    display:inline-block !important;
}

.context_icon .visible {
    
}

.context_icon .invisible {
    
}
.comment_form {
    color:#fff;
    background-color: #fff;
    height:30px;
}

.comment_form input {
    width:100%;
    height:30px;
    font-size: 20px;
    padding:5px;
    
    
}

.people-list .me:hover,
.people-list .avatar:hover,
.people-list .person:hover {
    cursor: pointer;
}


.clearbox {
    position: relative;
    float:left;
    clear: both;
    height:50px;
    width:100%;
}
.favorit {
    color: #ffd200!important;
}

.chat_row {
    width:100%;
    position:relative;
    min-height: 50px;
    padding: 12px 0 6px 0;
    border-bottom:1px #ccc solid;
    line-height: 1.4;
}
.chat_row .avapic {
    position: absolute;
    width: 50px;
    padding:0 0 0 5px;

}
.chat_row .chat_text {
    
    padding:0 40px 0 60px;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */

   
}
.chat_row .chat_bottoms {
    position: absolute;
    width: 40px;
    padding:0px;
    right:0;
    top:0;
    margin-top:12px;
    text-align: center;
    
}

.newchat_plus {
    color:#666666;
}

.named {
    color: rgb(0,106,119);
    font-weight: bold;
}
.lock {
    color:#ccc;
}
.lock .favorite-yes {
    color: #ff9700;
}
.rightheader {
    color:#fff;
    
}
.navigation-bar__right {
    
    
}

.bottom_right_status {
    line-height: 0!important;
}

.main_chat_add {
    color:#ccc;
    font-weight:100;
}
.samtext {
    font-size: 1em;
    color:#888888;
    font-weight: 600;
}

.substatus {
    margin:30px 0 30px 0;
    text-align:center;
    color:#888888;
    font-style: italic;
    font-size: 1.3em;
}

.conenction_bar {
    margin:5px 10px 5px 10px;
    height:15px;
}

.coord_status {
    font-size: 12px;
    position: absolute;
    left:10px;
    text-align: left;
    color:#999999;
}
.connect_status {
    font-size: 12px;
    position: absolute;
    right:10px;
    text-align: right;
    color:#bbb;
}

.connect_status .connected {
    color:#329117;
}


.network_connected {
    color:#329117;
}

.translation_online {
    color: #329117;
    font-weight: bold;
    
}
.translation_offline {
    color: #d50101;
    font-weight: bold;
    
}

.mystatus {
    background-color: #FFFEB6;
    border-bottom: 0!important;
}

.chat_bottoms .ion-heart {
    color:#bbb;
}

.chat_bottoms .ion-heart-active {
    color:#fde556!important;
}

.avatar_bar {
    padding:1px 5px 0 0;
}
.ion-email-style {
    color:#ffffff;
}



.chat_row .rowfirst {
    position: absolute;
    width: 50px;
    padding:0 0 0 5px;

}
.chat_row .rowsecond {
    
    padding:0 40px 0 50px;

   
}
.chat_row .rowthird {
    position: absolute;
    width: 50px;
    padding:0px;
    right:0;
    top:0;
    margin-top:12px;
    text-align: center;
    
}
.rowthird {
    text-align: center;
}
.control_block {
    text-align: center;
    width:50px;
}

.dialog_screen, .dialog_screen .screen-content {
    background-color: #d9fbff;
}

.dialog_box {
    background-color: #fff;
    padding:10px;
    border:1px #000 solid;
    width:auto;
    display:inline-block;
    margin:10px;
}

.dialog_list .is_author {
    float:left;
    text-align: left;
}
.dialog_list .isnt_author {
    float:right;
    text-align:right;
}
.dialog_date {
    color:#ccc;
    font-size: 14px;
}

.dialog_list .is_author .namee {
    color:#006c79;
    font-weight: bold;
}
.dialog_list .isnt_author  .namee {
    color:#d50101;
    font-weight: bold;
}
.avatar_header {
    width: 40px;
    
}
.avatar_header_img {
    position: absolute;
    right:0;
    
}
.informer_header {
    position: absolute;
    right:24px;
    top: 13px;
    height:16px;
}




.dialogs_row {
    width:100%;
    position:relative;
    min-height: 50px;
    padding: 12px 0 6px 0;
    border-bottom:1px #ccc solid;
    line-height: 1.4;
}
.dialogs_row .rowfirst {
    position: absolute;
    width: 50px;
    padding:0 0 0 5px;

}
.dialogs_row .rowsecond {
    
    padding:0 0 0 50px;
}

.rowthird {
    text-align: center;
}

.dnamedate {
    width:100%;
    position:relative;
}
.dname {
    padding: 0 50px 0 0;
    color:rgb(0,106,119);
    font-weight: bold;
}
.ddate {
    position:absolute;
    right:0;
    top:0;
    width:50px;
    font-size: 14px;
    color:#bbb;
}

.dtext {
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    padding: 2px; /* Поля вокруг текста */
    text-overflow: ellipsis; /* Добавляем многоточие */
}
.dialogs_screen .unread {
    background: #d9e9eb; 
}
.dtext {
    margin-top:0px;
}
.main-screen .new_messages {
    color:#f6a201;
    font-size: 26px;
    font-weight: bold;
}

.main-screen .no_messages {
    color:#000;
    font-size: 26px;
    
}


.trans_row {
    width:100%;
    position:relative;
    min-height: 25px;
    padding: 3px 0 3px 0;
    border-bottom:1px #ccc solid;
    line-height: 1.4;
    margin-bottom: 9px;
}

.mystatus {
    background-color: #FFFEB6;
    border-bottom: 0!important;
}

.trans_row .avapic {
    position: absolute;
    width: 50px;
    padding:2px 0 0 5px;

}
.trans_row .chat_text {
    
    padding:2px 60px 2px 30px;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */

   
}
.trans_row .chat_bottoms {
    position: absolute;
    width: 40px;
    padding:0;
    right:0;
    top:0;
    margin-top:4px;
    text-align: center;
}

.trans_row .chat_counter {
    position: absolute;
    width: 25px;
    padding:0;
    right:40px;
    top:0;
    margin-top:4px;
    text-align: left;
}





.main_row {
    width:100%;
    position:relative;
    min-height: 40px;
    padding: 3px 0 3px 0;
    border-bottom:1px #ccc solid;
    line-height: 1.4;
    margin-bottom: 9px;
}
.main_row .avapic {
    position: absolute;
    width: 50px;
    padding:0 0 0 5px;

}
.main_row .chat_text {
    
    padding:10px 40px 10px 70px;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */

   
}
.main_row .chat_bottoms {
    position: absolute;
    width: 40px;
    padding:0px;
    right:0;
    top:0;
    margin-top:6px;
    text-align: center;
    
}

.bottom_efir {
    padding-top:3px;
}
.bottom_hearts {
    padding-top:5px;
}
.bottom_mails {
    padding-top:3px;
}
.n_main_trans {
    background-color:#ffd200;
    color:#fff;
}
.n_new_mail {
    background-color:#dc5236;
    font-weight: bold;
}

.main_fixed {
    position: absolute;
    top:45px;
    width:100%;
}
.main-screen {
    
    top:110px;
    width:100%;

}

.form_item {
    width:100%;
    border-bottom: 1px solid #bbb;
    margin: 10px 2px 10px 2px;
}
.form_item .form_label {
    position:absolute;
    width:150px;
    padding:7px 0 0 5px;
    font-size: 16px;
    color:#666;
}
.form_item .form_element {
    padding:0 0 0 150px;
}
.form_item input {
    font-size: 16px;
}

.password_edit .form_element {
    padding:0 0 0 160px;
}
.password_edit .form_label {
    width:160px;
}

.form_section {
    width:100%;
    font-size: 22px;
    font-weight: bold;
    padding:10px 7px 0 7px;
    color:#006c79;
    border-bottom: 2px solid #006c79;
}

.form_subsection {
    width:100%;
    font-size: 16px;
    font-weight: bold;
    padding:10px 7px 0 7px;
    color:#006c79;
}

.form_profile button {
    margin: 10px 0 20px 0;
}
.edit_avatar {
    padding:10px 0 0 10px;
}