@font-face {
    font-family: OpenSans; 
    src:
    url("/fonts/OpenSans-BoldItalic.ttf"),
    url("/fonts/OpenSans-Bold.ttf"),
    url("/fonts/OpenSans-ExtraBoldItalic.ttf"),
    url("/fonts/OpenSans-ExtraBold.ttf"),
    url("/fonts/OpenSans-Italic.ttf"),
    url("/fonts/OpenSans-LightItalic.ttf"),
    url("/fonts/OpenSans-Light.ttf"),
    url("/fonts/OpenSans-Regular.ttf"),
    url("/fonts/OpenSans-SemiboldItalic.ttf"),
    url("/fonts/OpenSans-Semibold.ttf");
}


.people-list .table {
    display: table;
    width:100%;
    padding:10px 0 10px 0;
    border-bottom: 1px #ccc solid;
    
}
.people-list .table-row {
    display: table-row;
    
    

}
.people-list .table-cell {
    display: table-cell;
    
}

.avatar {
    width:50px;
    padding:5px 0 0 5px;
    vertical-align: top;
}

.person {
    padding:5px 0 0 0;
    vertical-align: top;
}

.person .name {
    
    font-size: 20px;
   color:black;
}

.person .status {
    fon-size:14px;
    font-family: tahoma;
    color:#999;
    margin:5px 20px 0 0;
}

.message {
    width:60px;
    vertical-align: middle;
}

.favorites {
    width:60px;
    vertical-align: middle;
}